@charset "utf-8";

/*Loader*/
#Loader{
    background-color: #fff;
}
#Loader img{
    position: absolute;
    top: 232px;
    width: 100%;
}
#Loader .word{
    position: absolute; opacity: 0.5;
    top: 600px; font-size: 50px;
    width: 100%; text-align: center;
}