@charset "utf-8";

/*Loader*/
#Loader{
    background-color: #000000;
}
#Loader img{
    position: absolute;
    top: 232px;
    left: 307px;
    width: 85px;
    height: 659px;
}
#Loader .word{
    position: absolute;
    top: 590px;
    left: 323px;
    width: 55px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
#Loader .line{
    position: absolute;
    top: 388px;
    left: 343px;
    width: 15px;
    height: 155px;
    overflow: hidden;
}
#Loader .lineX{
    position: absolute;
    top: 155px;
    left: 0px;
    width: 15px;
    height: 155px;
    background-color: #fff;
}